
<div class="col col-lg-4 mx-auto">
    <EditForm Model="NewProduct" OnValidSubmit="@(() => OnSave.InvokeAsync(NewProduct))">
        @* activate data validation *@
        <DataAnnotationsValidator />
        <div class="form-group">
            <label>Title:</label>
            <InputText @bind-Value="NewProduct.Title" class="form-control" />
            <ValidationMessage For="@(() => NewProduct.Title)" />

            <label>Description:</label>
            <InputTextArea @bind-Value="NewProduct.Description" class="form-control" />
            <ValidationMessage For="@(() => NewProduct.Description)" />
       
            <label>Price:</label>
            <InputNumber @bind-Value="NewProduct.Price" class="form-control" />
            <ValidationMessage For="@(() => NewProduct.Price)" />

            <label>Category:</label>
            <InputSelect @bind-Value="NewProduct.CategoryId" class="form-control">
                <option value="0">-- Select a category --</option>
                @if (Categories is not null)
                {
                    @foreach (var category in Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(() => NewProduct.CategoryId)" />

            </div>
        <button type="submit" class="btn btn-outline-info">Save</button>
        <button type="button" class="btn btn-outline-warning" @onclick="@(() => OnCancel.InvokeAsync())">Cancel</button>
    </EditForm>
</div>
@code {
    [Parameter]
    public CreateOrUpdateProductModel NewProduct { get; set; }
    [Parameter]
    public EventCallback<CreateOrUpdateProductModel> OnSave { get; set; }
    [Parameter]
    public IEnumerable<CategoryModel> Categories { get; set; }
    [Parameter]
    public EventCallback OnCancel { get; set; }
}
