
<div class="col col-lg-2 border border-1 rounded rounded-2 text-center m-1 p-2">
    <img src="@Product.Images[0]" width="200" height="200">

    <p>@Product.Title</p>
    <p>Price</p>
    <p>@Product.Price</p>
    <div>
        <button class="btn btn-outline-info" @onclick="@(() => OnEdit.InvokeAsync(Product))">Edit</button>
        <button class="btn btn-outline-danger" @onclick="@(() => OnDelete.InvokeAsync(Product.Id))">Delete</button>
    </div>

    
</div>

@code {
    [Parameter]
    public ProductModel Product { get; set; }
    [Parameter]
    public EventCallback<int> OnDelete { get; set; }
    [Parameter]
    public EventCallback<ProductModel> OnEdit { get; set; }
}
